{% load static %}
<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}" />

    <title>TechFlow</title>

    <link rel="icon" type="image/x-icon" href="{% static 'main/icon.png' %}" />
    <!-- ICONS -->
    <link
      rel="stylesheet"
      href="{% static 'main/icons/bootstrap-icons.css' %}"
    />
    <!-- TAILWIND -->
    <link rel="stylesheet" href="{% static 'main/css/output.css' %}" />
    <!-- AOS - AUTOANIMATE -->
    <link rel="stylesheet" href="{% static 'main/aos/aos.css' %}" />
    <script src="{% static 'main/aos/aos.js' %}"></script>

    <!-- TOASTIFY -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'main/toastify/toastify.min.css' %}"
    />
    <script src="{% static 'main/toastify/toastify-js.js' %}"></script>
  </head>
  <body>
    {% if request.user and request.user.is_superuser %}
    <aside
      class="flex items-center md:flex-col gap-5 justify-center md:justify-start py-6 fixed w-full md:max-w-[100px] left-0 bottom-0 h-[60px] md:top-0 md:h-screen bg-[#F5E6CF] border-t-4 md:border-t-0 md:border-r-4 border-black z-50"
    >
      <h2 class="font-bold md:block hidden text-lg border-b-2 border-black">
        {{request.user.username}} <br />
        Admin
      </h2>
      <div class="text-center group">
        <a href="{% url 'inicio' %}" class="">
          <i class="bi bi-house-door-fill"></i>
          <span
            class="block font-semibold text-sm group-hover:underline decoration-2"
            >Inicio</span
          >
        </a>
      </div>

      <div class="text-center">
        <a href="{% url 'products:lista' %}" class="group">
          <i class="bi bi-box2-heart-fill font-bold"></i>
          <span
            class="block font-semibold text-sm group-hover:underline decoration-2"
            >Inventario</span
          >
        </a>
      </div>
      <div class="text-center">
        <a href="{% url 'categories:lista' %}" class="group">
          <i class="bi bi-tags-fill"></i>
          <span
            class="block font-semibold text-sm group-hover:underline decoration-2"
            >Categorias</span
          >
        </a>
      </div>
    </aside>

    {% endif %}

    <header
      class="bg-[#F5E6CF] sticky top-0 z-40 border-b-4 border-black {% if request.user and request.user.is_superuser %} md:ml-[100px] {% else %} {% endif %}"
    >
      <nav
        class="px-4 sm:px-6 lg:px-8 flex justify-center md:justify-between items-center py-3 gap-4 flex-wrap"
      >
        <div class="flex items-center gap-2">
          <a href="{% url 'inicio' %}" class="bg-amber-500 btn">
            <span class="font-bold">TechFlow</span>
            <i class="bi bi-house-door-fill"></i>
          </a>
        </div>

        {% if request.user.is_authenticated %}
        <div class="gap-2 flex items-center">
          <h3 class="font-bold text-xl text-black border-black border-r-4 pr-3">
            {{request.user.username}}
          </h3>
          <a href="{% url 'shopping_cart:lista' %}" class="bg-sky-400 btn">
            <i class="bi bi-basket2-fill"></i>
          </a>
          <a href="{% url 'logout' %}" class="btn bg-[#FB5557]">
            <i class="bi bi-door-closed-fill"></i>
          </a>
        </div>
        {% else %}
        <div class="mx-w-[400px] gap-2 flex">
          <a href="{% url 'login' %}" class="btn bg-sky-400">
            Iniciar Sesión
          </a>
          <a href="{% url 'register' %}" class="btn bg-orange-500">
            Registro
          </a>
        </div>
        {% endif %}
      </nav>
    </header>

    <!-- !NO MOVER ESTO DE AQUI -->
    <script>
      AOS.init();
    </script>

    <main
      class="{% if request.user and request.user.is_superuser %} md:ml-[130px] mb-[100px] md:mb-0 {% else %} {% endif %}"
    >
      {% block content %} {% endblock %}
    </main>

    {% if messages %} {% for message in messages %}
    <script>
      let statusClass = "#16B981";
      const type = "{{ message.tags }}";
      if (type != "success") statusClass = "#FF6467";

      Toastify({
        text: "{{message}}",
        duration: 3000,
        className: "btn",
        position: "right",
        style: {
          color: "black",
          background: statusClass,
        },
      }).showToast();
    </script>
    {% endfor %} {% endif %}
  </body>
</html>
