{% extends "main/layout.html" %} {% load static %} {% block content %}

<div class="w-full flex items-center justify-center">
  <div class="w-full max-w-md mx-3 p-8 mt-12 border-4 border-black h-fit">
    <h1 class="text-3xl text-black font-bold text-center mb-7">Bienvenido</h1>
    <form
      id="auth_form"
      class="space-y-6"
      method="POST"
      action="/login"
      method="post"
    >
      {% csrf_token %}
      <div>
        <label
          for="username"
          class="block text-sm font-semibold text-black mb-2"
        >
          Nombre de usuario
        </label>
        <input
          type="text"
          id="username"
          name="username"
          autofocus
          placeholder="Ingresa tu nombre de usuario"
          class="w-full px-4 py-3 border-[3px] border-black focus:outline-none bg-[#F5E6CF] focus:border-amber-500 font-semibold transition-colors duration-300"
        />
        <span id="error_username" class="text-red-500 font-semibold"></span>
      </div>

      <div>
        <label
          for="password"
          class="block text-sm font-semibold text-black mb-2"
        >
          Contraseña
        </label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Ingresa tu contraseña"
          class="w-full px-4 py-3 border-[3px] border-black focus:outline-none bg-[#F5E6CF] focus:border-amber-500 font-semibold transition-colors duration-300"
        />
        <span id="error_password" class="text-red-500 font-semibold"></span>
      </div>

      <button type="submit" class="btn w-full bg-emerald-500">
        Iniciar Sesión
      </button>
    </form>
    <div class="mt-6 text-center">
      <a href="{% url 'inicio' %}" class="btn bg-slate-200">
        <i class="bi bi-chevron-left" style="font-weight: 800"></i> Volver a
        inicio
      </a>
    </div>
  </div>
</div>

<script src="{% static 'main/js/login.js' %}"></script>
{% endblock %}
